@import 'scss/vars';

body {
  font-family: $font--main;
  background-color: $color--light;
}

* {
  box-sizing: border-box;
}

body,
html,
body > div,
body > div > div {
  min-height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.table--main {
  table-layout: fixed;
  text-align: left;

  tr {
    border-bottom: 1px solid #d5d5d5;
  }

  th {
    font-weight: bold;
    background-color: #f5f5f5;
  }

  th,
  td {
    font-size: 13px;
    padding: 10px 10px;
  }
  
  td.actions {
    span {
      font-size: 12px;
      font-weight: bold;
      color: $color--dark;
    }
  }
}

nav.navigation {
  background-color: white;
  width: 280px;
  flex-shrink: 0;

  ul {
    li {
      a {
        letter-spacing: 0.4px;
        transition: all 0.2s ease;
        display: block;
        font-weight: bold;
        padding: 20px 20px;
        color: $color--accent;
        text-decoration: none;
        font-weight: 600;
        border-left: 6px solid transparent;

        &:hover,
        &.active {
          border-color: $color--accent;
        }
      }
    }
  }
}

.page--title {
  font-weight: 700;
  color: $color--dark;
  font-size: 24px;
}

textarea,
input,
select {
  transition: 0.2s ease all;
  resize: none;
  padding: 6px;
  font-size: 14px;
  border: 2px solid $color--medium;
  border-radius: 6px;
  color: $color--dark;
  font-family: $font--main;
  font-weight: 500;

  &:focus {
    outline: none;
    border-color: $color--accent;
  }
}

button {
  cursor: pointer;
  letter-spacing: 0.4px;
  font-family: $font--main;
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  font-weight: 600;
  background-color: $color--accent;
  color: white;
  font-size: 13px;
  padding: 10px 12px;
  border: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.form {
  background-color: white;
  border-radius: 20px;
  padding: 20px;

  label {
    color: $color--dark;
    font-weight: 500;
  }
}